@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Trender';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/public/Trender.ttf) format('woff2');
  }
}
.font-roboto {
  font-family: roboto;
}
body {
  color: #040404;
  font-family: Trender;
}